* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #020617;
  color: #e5e7eb;
}

html {
  scroll-behavior: smooth;
}

/* NAVBAR */
nav {
  position: fixed;
  width: 100%;
  top: 0;
  background: rgba(2,6,23,0.95);
  display: flex;
  justify-content: space-between;
  padding: 18px 50px;
  z-index: 1000;
}

nav h2 {
  color: #ff4500;
  font-family: 'Orbitron', sans-serif;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 30px;
}

nav a {
  color: white;
  text-decoration: none;
}

/* HERO */
.hero-logo {
  width: 220px;
  margin-bottom: 20px;
  filter: drop-shadow(0 0 15px rgba(255,200,50,0.6));
}

.hero {
  min-height: 100vh;
  padding-top: 140px;
  text-align: center;
}

.hero h1 {
  font-size: 70px;
  color: #ff4500;
  font-family: 'Orbitron', sans-serif;
}

.hero p {
  font-size: 22px;
  margin: 20px 0;
}

.hero span {
  color: #facc15;
}

.hero-buttons a {
  display: inline-block;
  margin: 10px;
  padding: 14px 34px;
  background: #ff4500;
  color: white;
  text-decoration: none;
  border-radius: 6px;
}

.hero-buttons .outline {
  background: transparent;
  border: 2px solid #ff4500;
}

/* COUNTDOWN */
.countdown {
  margin-top: 50px;
  display: flex;
  justify-content: center;
  gap: 25px;
}

.countdown div {
  border: 1px solid #ff4500;
  padding: 18px;
  width: 90px;
  border-radius: 12px;
}

.countdown span {
  font-size: 30px;
  color: #facc15;
}

/* EVENTS */
.events {
  padding: 90px 50px;
  text-align: center;
}

.events h2 {
  font-size: 42px;
  margin-bottom: 50px;
}

.event-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 30px;
}

.event-card {
  padding: 35px 20px;
  border: 1px solid #ff4500;
  border-radius: 16px;
  transition: 0.3s;
}

.event-card:hover {
  transform: translateY(-8px) scale(1.05);
  box-shadow: 0 0 25px #ff4500;
}

/* REGISTER */
.register {
  padding: 90px 20px;
  text-align: center;
}

form {
  max-width: 420px;
  margin: auto;
}

input, select, button {
  width: 100%;
  padding: 14px;
  margin: 12px 0;
  border-radius: 6px;
  border: none;
}

button {
  background: #ff4500;
  color: white;
  cursor: pointer;
}

/* FOOTER */
footer {
  border-top: 1px solid #ff4500;
  padding: 20px;
  text-align: center;
}

/* RESPONSIVE */
@media (max-width: 600px) {
  .hero h1 {
    font-size: 44px;
  }
  nav {
    flex-direction: column;
    gap: 10px;
  }
}

/* CAMPUS SECTION */
.campus {
  height: 80vh;
  background: url("assets/images/psit-campus.jpeg") center/cover no-repeat;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.campus-overlay {
  background: rgba(2,6,23,0.7);
  padding: 50px;
  text-align: center;
  border-radius: 20px;
  max-width: 700px;
}

.campus-overlay h2 {
  font-family: 'Orbitron', sans-serif;
  color: #facc15;
  margin-bottom: 20px;
  font-size: 36px;
}

.campus-overlay p {
  font-size: 18px;
  line-height: 1.6;
}